@import '../../globals.scss';


header {
    @include flex-cont;
    margin: auto;
    height: $height-header;
    border-bottom: $light-border;
    
    h1 {
        width: 95%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 26px;
        text-align: center;

        -webkit-app-region: drag;
    }

    span {
        width: 5%;

        cursor: pointer;
    }
}

#main-container {
    @include flex-cont;

    height: calc(100% - $height-header);

    aside {
        width: 20%;
        height: 100%;

        border-right: $light-border;

        #list-list-container {
            height: 60%;
            margin-bottom: 30%;

            overflow-y: auto;
        }

        h2 {
            padding: 10% 0;

            font-size: 1.4rem;
            color: $primary-dark-color;
            text-align: center;
            text-decoration: none;

            border-bottom: $light-border;
        }

        a, label {
            display: block;
            padding: 3px;

            font-size: 1.2rem;
            color: $black;
            text-align: center;
            text-decoration: none;

            border-bottom: $light-border;

            transition: all .2s;
        }

        label {
            font-size: 1.1rem;

            input {
                margin-right: 6px;
            }
        }

        a:visited {
            color: $black;
        }

        a:hover {
            background-color: $light-details;
        }

        a.active {
            background-color: lighten($primary-dark-color, 10);
        }

        #fav-link {
            @include flex-cont;

            span {
                font-size: 1.3rem;
                color: darken($primary-dark-color, 15);
            }
        }
    }

    #todo-container {
        @include flex-cont($direc: column, $justif: space-between);
        width: 80%;
        height: 100%;
    }
}