
$primary-dark-color: rgb(168, 162, 223);
$primary-light-color: #f2eaff;
$black: #666;
$light-details: #c9c6bd;

@mixin flex-cont( $direc: row, $justif: space-around, $align: center ) {
    display: flex;
    flex-direction: $direc;
    justify-content: $justif;
    align-items: $align;
}


$light-border: 1px solid $light-details;

@mixin input-border {
    border: 2px solid darken($primary-dark-color, 10);
    border-radius: 6px;
}


$height-header: 38px;


* {
    margin: 0;
    padding: 0;
    font-family: 'Cantarell', sans-serif;
}

html {
    font-size: .8vw;
}


body {
    user-select: none;
    height: 100vh;
    overflow-y: hidden;
}

#root {
    height: 100%;
    margin: 0 auto;
}